{% extends "ecochamp/layout.html" %}
{% block title %}EcoChamp{% endblock %}
{% block content %}
<header class="faqframe">
    <h1 class="faqmain">SEARCH</h1>
    <form action="{% url 'faq' %}" method="GET">
        <input type="text" name="query" placeholder="Enter search query" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <h1 class="faqdrop">FAQs</h1>
    {% if result %}
    <details class="faq-details">
        <summary class="faq-summary">{{ result.0 }}</summary>
        <p class="faq-content">{{ result.1 }}</p>
    </details>
    {% elif error %}
    <p>{{ error }}</p>
    {% endif %}
</header>
{% endblock %}
