{% extends "ecochamp/layout.html" %}
{% block title %}
EcoChamp
{% endblock %}

{% block content %}
<h1 class="helpheader">Help Us Go A Step Further!</h1>

<header class="article">
    <a href="https://thetandd.com/news/local/orangeburg-county-near-top-in-wildfire-risk/article_734a4b50-e0a4-5359-9c6c-45a5e7e6c878.html">
        <img src="/static/images/article.jpeg">
    </a>
    <h4 class="helpmessage">Article: Orangeburg a top county for wildfire risk</h4>
</header>

<header class="donation">
    <a href="https://www.nrdcactionfund.org/">
        <img src="/static/images/donation.png">
    </a>
    <h4 class="helpmessage">Donation: National Resource Defense Council</h4>
</header>

<header class="feedback">
    <img src="/static/images/feedback.jpg">
    <h4 class="helpmessage">User Feedback</h4>
</header>

{% endblock %}
