{% extends "ecochamp/layout.html" %}
{% block title %}
EcoChamp
{% endblock %}

{% block content %}
<header class="message">
    <h4 class="message1">THE STATISTIC OF THE DAY IS...</h4>
    <h1 class="message2">{{ random_statistic }}</h1>
    <h4 class="message1">TODAY'S CHALLENGE IS...</h4>
    <h6 class="message1">{{ corresponding_challenge }}</h6>
</header>

<header class="logoutbutton">
    <a href="/login" class="message1">LOGOUT</a>
</header>

<div class="checkbox">
    <input type="checkbox" id="dummy-checkbox">
</div>
{% endblock %}
