<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ecochamp/site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand{% if request.path == '/home/' %} active{% endif %}">Homepage</a>
    <a href="{% url 'profile' %}" class="navbar-brand{% if request.path == '/profile/' %} active{% endif %}">User Profile</a>
    <a href="{% url 'help' %}" class="navbar-brand{% if request.path == '/help/' %} active{% endif %}">How You Can Help Us</a>
    <a href="{% url 'faq' %}" class="navbar-brand{% if request.path == '/faq/' %} active{% endif %}">FAQs</a>
</div>

<div class="frame">
    <h4 class="logo">ECOCHAMP</h4>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
