{% extends "ecochamp/layout.html" %}
{% block title %}
EcoChamp
{% endblock %}

{% block content %}
<header>
    <h1 class="helpheader">Welcome {{ name }}!
        <img src="/static/images/leopard.jpeg">
    </h1>
    <h6 class="profilestats">YOU HAVE A STREAK OF 15 DAYS!</h6>
    <h6 class="profilestats">YOU HAVE 100 POINTS!</h6>
    <h6 class="profilestats">WELCOME TO THE BADGER TIER! YOU ARE 25 POINTS AWAY FROM REACHING LEVEL 3</h6>
    <a href="/avatar" class="profilesubpage">User Settings</a>
</header>


{% endblock %}